<h2 class="d-flex justify-content-center">Solution:</h2>
<div class="d-flex flex-column justify-content-center align-items-center">
    @foreach (string res in Results)
    {
        <h4>@res</h4>
    }
</div>