@page "/adventofcode"

<PageTitle>Advent of Code</PageTitle>

<h1>Advent of Code</h1>

<div>

    <AdventDayDropdown @bind-SelectedAdventDay=@AdventDay/>

    <InputFileAdvent @bind-InputStrings=@Inputs />

    <SfButton OnClick=@SolveForInput>Solve</SfButton>

    <ResultDisplayer Results=@Solutions/>
</div>
